@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.explore {
  font-weight: 700;
  font-size: 1.2em;
}

.find {
  font-weight: 300;
  font-size: 1.2em;
}

.main a {
  color: #ff5d55;
}

.signup a {
  color: #ffffff;
}
