@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900|Roboto+Condensed");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css");
@import url("https://use.fontawesome.com/releases/v5.0.6/css/all.css");

// =================================== [ UNIVERSAL STYLES ]

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  color: "#ff5d55";
}

a:hover {
  text-decoration: none;
}

hr.style1 {
  border-top: 1px solid #8c8b8b;
}

.btn-teal {
  background-color: #00bcd4;
  border-radius: 10px;
  padding: 7px 30px 7px 30px;
  color: #ffffff;
  border: 3px solid #ffffff;
}

.btn-red {
  background-color: #ff3823;
  border-radius: 10px;
  padding: 7px 30px 7px 30px;
  color: #ffffff;
  border: 0px;
  margin-left: 20px;
  margin-right: 20px;
  border: 3px solid #ffffff;
}

.btn-red a {
  color: #ffffff;
  text-decoration: none;
}

.btn2 {
  background-image: none;
  background-color: #00bcd4;
  border-radius: 10px;
  padding: 10px;
  color: #ffffff;
  border: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn2:hover {
  background-color: #ff3823;
}

.mild-shadow {
  box-shadow: 10px 10px 15px #aaaaaa;
  padding: 20px;
  margin: 0px 0px 20px 0px;
}

.thin-shadow {
  box-shadow: 5px 5px 4px #aaaaaa;
  padding: 10px;
}

input:focus,
button:focus,
textarea:focus {
  outline: none;
}

.margin-bottom-5px {
  margin-bottom: 5px;
}

.margin-bottom-20px {
  margin-bottom: 20px;
}

.align-middle-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vibe-category-label {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  border-bottom: 5px #ff7043 solid;
  margin-bottom: 10px;
}

// rename this later
.content-blur {
  filter: blur(5px);
  transition: filter 1s;
}

.trans-1 {
  transition: 1s;
}

.blur-screen {
  filter: blur(2px);

}

.black-screen {
  background: rgba(0,0,0,0.5);
  z-index: 98;
  position: absolute;
  width: 1000%;
  height: 1000%;
  overflow: hidden;
  transition: opacity 1s;
  background-cover: center;

}
// laptop
@media screen 
  // and (min-device-width: 1200px) 
  // and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .hide-mobile {
      display: none;
    }
    
    .hide-browser {
      display: block;
    }
    
    .screen-plain-body {
      margin-top: 5%;
      padding: 10%;
    }
  }

  @media only screen 
    and (min-device-width: 300px) 
    and (max-device-width: 900px) {
    .mobile-plain-body {
      margin: 5%;
    }
    
    .hide-mobile {
      display: block;
    }
    
    .hide-browser {
      display: none;
    }
}

// =================================== [ HOMEPAGE ]

//laptop, non retina
@media screen 
  // and (min-device-width: 1200px) 
  // and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .home-page-search {
      font-size: 20px;
      padding: 10px;
      box-shadow: 0px;
      width: 70%;
      border: 3px solid white;
      display: inline;
      color: #444444;
      height: 7%;
      margin-right: -1%;
      font-weight: 300;
      margin-top: 2%;
      margin-bottom: 5%;
    }

    .home-page-search-btn {
      display: inline;
      background-color: #ff3823;
      border: 0px;
      font-size: 20px;
      padding: 10px 20px 10px 20px;
      color: white;
      height: 7%;
      margin-top: 2%
    }
    
    .front-splash {
      text-align: center;
      padding: 100;
    }

    .home-title {
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 2px;
      color: white;
      display: block;
      font-size: 32px;
    }

    .home-subtitle {
      font-size: 14px;
      font-weight: 100;
      color: white;
    }

    .home-initial-picture {
      height: 50%;
      background-image: url("../images/homepage/front.jpg");
    }

    .home-tag {
      font-size: 24px;
      font-weight: 700;
      display: block;
      color: #606060;
      margin-bottom: 2%;
    }

    .home-cat-box {
      background-color: white;
      margin: 2%;
      border-radius: 10px;
      border: none;
      padding: 2%;
      display:flex;
      height: 7%;
      width: 15%;
      flex-direction: column;
      box-sizing: content-box;
      min-width: 0;
      box-shadow: 3px 3px 15px #cccccc;
      cursor: pointer;
    }

    .home-cat-flex {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      text-align: center;
      justify-content: center;
    }

    .home-cat-font {
      color: #606060;
      font-family: Roboto Condensed;
      font-size: 14px;
      margin: auto;
      padding: 10%;
      flex-wrap: wrap;
      display: inline-block;
      page-break-before: always;
    }

    .home-cat-aspect-ratio {
      flex: 1;
      max-width: 50%;
      min-width: 50%;
      margin: auto;
    }

    .home-cat-img {
      // object-fit: cover;
      width: 100%;
      margin: auto;
      display: block;
      // max-height: 50px;
      // max-width: 50px;
    }

    .home-intro {
      height: 40%;
      padding: 3% 5% 3% 5%;
      margin-top: 3%;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8c8c8c+0,8c8c8c+100&0+0,0.65+100 */
      background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
      display: flex;
      align-items: center;
    }

    .home-perks-description-one {
      background-color: #9cd9e1;
      font-size: 35px;
      color: "#f7f6f6";
      text-align: center;
      font-weight: 300;
      padding: 4em 2em;
    }

    .home-perks-description-two {
      background-color: #8ac8d1;
      font-size: 35px;
      color: "#f7f6f6";
      text-align: center;
      font-weight: 300;
      padding: 4em 2em;
    }

    .home-perks-description-three {
      background-color: #72bec9;
      font-size: 35px;
      color: "#f7f6f6";
      text-align: center;
      font-weight: 300;
      padding: 4em 2em;
    }

    .home-organizer-picture {
      height: 25%;
      background-image: url("../images/homepage/organize.jpg");
      padding: 150px;
    }

    .home-organizer-hook {
      font-size: 50px;
      font-weight: 700;
    }

    .home-organizer-header {
      font-size: 30px;
      padding: 5% 20% 5% 20%;
      font-weight: 100;
      text-align: center;
    }

    .home-organizer-info {
      font-size: 18px;
      padding: 0px 200px 50px 200px;
    }

    .home-organizer-graphs {
      height: 100%;
    }

    .home-signup {
      height: 40%;
      background-color: #e99491;
    }

    .home-developers {
      height: 20%;
      padding: 10px 80px 10px 80px;
    }

    .home-developers-header {
      font-size: 50px;
      font-weight: 100;
      margin: 0 auto;
      display: table;
    }

    .home-developers-col {
      margin: 75px 0px 0px 0px;
      font-size: 14px;
    }

    .home-footer {
      height: 8%;
    }

    .home-developers-pic {
      width: 80%;
      display: table;
      margin: 0 auto;
      padding: 4px;
      border: 5px solid white;
    }

    .home-developers-subtitle1 {
      font-size: 14px;
      text-transform: uppercase;
    }

    .home-developers-subtitle2 {
      font-size: 11px;
      text-transform: uppercase;
      font-style: italic;
    }

    .home-developers-subtitle3 {
      font-size: 10px;
    }

    .home-developers-subtitle3 a{
      font-size: 10px;
      color: white;
      border-bottom: 1px solid white;
      border-spacing: 5px;
    }

    .home-feedback {
      background-color: #d6d6d6;
      padding: 5% 15% 5% 15%;
    }

    .home-feedback-send-msg {
      font-size: 20px;
      font-weight: 100;
      background-color: #00bcd4;
      color: white;
      border: 0px;
      border-radius: 10px;
      padding: 5px 10px 5px 10px;
    }

    .pic-sizes {
      max-height: 100%;
      max-width: 100%;
    }

    .background-cover-center {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    #bootstrap-override-jumbotron {
      margin-bottom: 0;
      height: "100%" !important;
      padding: 8em 6em;
    }

    #bootstrap-override-pic {
      margin: 0;
      box-sizing: initial;
      padding: 0;
    }

    #bootstrap-override-desc {
      padding: 2em 1em;
    }

    #intro-text {
      font-size: 50px;
      font-weight: 300;
      color: "white";
    }

    #link-text {
      color: "#ff5d55";
      font-size: 16px;
    }

    #intro-text-per {
      font-size: 20px;
      font-weight: 100;
      color: #FFFFFF;
      margin:auto;
    }

    .top-banner {
      background-color: #f7f6f6;
      height: 15%;
      padding-left: 20%;
      padding-right: 20%;
    }

    .top-banner-login {
      height: 10%;
      padding-left: 20%;
      padding-right: 20%;
    }

    .top-banner-each {
      padding-top: 5%;
      padding-bottom: 5%;
      text-align: center;
    }
}

// laptop, retina
@media screen 
  // and (min-device-width: 1200px) 
  // and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    .home-page-search {
      font-size: 20px;
      padding: 10px;
      box-shadow: 0px;
      width: 70%;
      border: 3px solid white;
      display: inline;
      color: #444444;
      height: 7%;
      margin-right: -1%;
      font-weight: 300;
      margin-top: 2%;
      margin-bottom: 5%;
    }

    .home-page-search-btn {
      display: inline;
      background-color: #ff3823;
      border: 0px;
      font-size: 20px;
      padding: 10px 20px 10px 20px;
      color: white;
      height: 7%;
      margin-top: 2%
    }
    
    .front-splash {
      text-align: center;
      padding: 100;
    }

    .home-title {
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 2px;
      color: white;
      display: block;
      font-size: 32px;
    }

    .home-subtitle {
      font-size: 14px;
      font-weight: 100;
      color: white;
    }

    .home-initial-picture {
      height: 50%;
      background-image: url("../images/homepage/front.jpg");
      width: 100%;
      top:0;
      padding:10%;
    }

    .home-tag {
      font-size: 24px;
      font-weight: 700;
      display: block;
      color: #606060;
      margin-bottom: 2%;
    }
    
    .home-icons-content {
      margin-top: 5%;
      text-align: center;
    }

    .home-cat-box {
      background-color: white;
      margin: 2%;
      border-radius: 10px;
      border: none;
      padding: 2%;
      display:flex;
      height: 7%;
      width: 15%;
      flex-direction: column;
      box-sizing: content-box;
      min-width: 0;
      box-shadow: 3px 3px 15px #cccccc;
      cursor: pointer;
    }

    .home-cat-flex {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      text-align: center;
      justify-content: center;
    }

    .home-cat-font {
      color: #606060;
      font-family: Roboto Condensed;
      font-size: 14px;
      margin: auto;
      padding: 10%;
      flex-wrap: wrap;
      display: inline-block;
      page-break-before: always;
    }

    .home-cat-aspect-ratio {
      flex: 1;
      max-width: 50%;
      min-width: 50%;
      margin: auto;
    }

    .home-cat-img {
      // object-fit: cover;
      width: 100%;
      margin: auto;
      display: block;
      // max-height: 50px;
      // max-width: 50px;
    }

    .home-intro {
      height: 40%;
      padding: 3% 5% 3% 5%;
      margin-top: 3%;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8c8c8c+0,8c8c8c+100&0+0,0.65+100 */
      background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
      display: flex;
      align-items: center;
    }

    .home-perks-description-one {
      background-color: #9cd9e1;
      font-size: 35px;
      color: "#f7f6f6";
      text-align: center;
      font-weight: 300;
      padding: 4em 2em;
    }

    .home-perks-description-two {
      background-color: #8ac8d1;
      font-size: 35px;
      color: "#f7f6f6";
      text-align: center;
      font-weight: 300;
      padding: 4em 2em;
    }

    .home-perks-description-three {
      background-color: #72bec9;
      font-size: 35px;
      color: "#f7f6f6";
      text-align: center;
      font-weight: 300;
      padding: 4em 2em;
    }

    .home-organizer-picture {
      height: 25%;
      background-image: url("../images/homepage/organize.jpg");
      padding: 150px;
    }

    .home-organizer-hook {
      font-size: 50px;
      font-weight: 700;
    }

    .home-organizer-header {
      font-size: 30px;
      padding: 5% 20% 5% 20%;
      font-weight: 100;
      text-align: center;
    }

    .home-organizer-info {
      font-size: 18px;
      padding: 0px 200px 50px 200px;
    }

    .home-organizer-graphs {
      height: 100%;
    }

    .home-signup {
      height: 40%;
      background-color: #e99491;
    }

    .home-developers {
      height: 20%;
      padding: 10px 80px 10px 80px;
    }

    .home-developers-header {
      font-size: 50px;
      font-weight: 100;
      margin: 0 auto;
      display: table;
    }

    .home-developers-col {
      margin: 75px 0px 0px 0px;
      font-size: 14px;
    }

    .home-footer {
      height: 8%;
    }

    .home-developers-pic {
      width: 80%;
      display: table;
      margin: 0 auto;
      padding: 4px;
      border: 5px solid white;
    }

    .home-developers-subtitle1 {
      font-size: 14px;
      text-transform: uppercase;
    }

    .home-developers-subtitle2 {
      font-size: 11px;
      text-transform: uppercase;
      font-style: italic;
    }

    .home-developers-subtitle3 {
      font-size: 10px;
    }

    .home-developers-subtitle3 a{
      font-size: 10px;
      color: white;
      border-bottom: 1px solid white;
      border-spacing: 5px;
    }

    .home-feedback {
      background-color: #d6d6d6;
      padding: 5% 15% 5% 15%;
    }

    .home-feedback-send-msg {
      font-size: 20px;
      font-weight: 100;
      background-color: #00bcd4;
      color: white;
      border: 0px;
      border-radius: 10px;
      padding: 5px 10px 5px 10px;
    }

    .pic-sizes {
      max-height: 100%;
      max-width: 100%;
    }

    .background-cover-center {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      display: flex;
      align-items: center;
    }

    #bootstrap-override-jumbotron {
      margin-bottom: 0;
      height: "100%" !important;
      padding: 8em 6em;
    }

    #bootstrap-override-pic {
      margin: 0;
      box-sizing: initial;
      padding: 0;
    }

    #bootstrap-override-desc {
      padding: 2em 1em;
    }

    .header {
      margin: 10px;
      margin-top: 50px;
      margin-top: 50px;
      text-align: center;
      padding: 0px 100px 30px 100px;
    }

    #intro-text {
      font-size: 50px;
      font-weight: 300;
      color: "white";
    }

    #link-text {
      color: "#ff5d55";
      font-size: 16px;
    }

    #intro-text-per {
      font-size: 20px;
      font-weight: 100;
      color: #FFFFFF;
    }

    .top-banner {
      background-color: #f7f6f6;
      height: 15%;
      padding-left: 20%;
      padding-right: 20%;
    }

    .top-banner-login {
      height: 10%;
      padding-left: 20%;
      padding-right: 20%;
    }

    .top-banner-each {
      padding-top: 5%;
      padding-bottom: 5%;
      text-align: center;
    }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */
@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 900px) {
    .front-splash {
      padding: 10%;
      height: 736px;
    }

    .home-title {
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 8px;
      line-height: 100px;
      color: white;
      display: block;
      font-size: 100px;
      margin: auto;
      margin-top: 20%;
      margin-bottom: 10%;
    }

    .home-subtitle {
      font-size: 20px;
      font-weight: 300;
      color: white;
      line-height: 1px;
      margin-bottom: 5%;
    }

    .home-initial-picture {
      height: "30%";
      background-image: url("../images/homepage/front.jpg");
    }

    .home-tag {
      font-size: 30px;
      font-weight: 700;
      display: block;
      color: #606060;
      margin: 10%;
    }

    .home-cat-box {
      background-color: white;
      margin: 3%;
      border-radius: 10px;
      border: none;
      padding: 2%;
      display:flex;
      height: 7%;
      width: 40%;
      flex-direction: column;
      box-sizing: content-box;
      min-width: 0;
      box-shadow: 3px 3px 15px #cccccc;
      cursor: pointer;
    }

    .home-page-search {
      font-size: 20px;
      padding: 10px;
      box-shadow: 0px;
      width: 70%;
      border: 3px solid white;
      display: inline;
      color: #444444;
      height: 7%;
      margin-right: -1%;
      font-weight: 300;
      margin-top: 15%;
      margin-bottom: 5%;
    }

    .home-page-search-btn {
      display: inline;
      background-color: #ff3823;
      border: 0px;
      font-size: 20px;
      padding: 10px 20px 10px 20px;
      color: white;
      height: 7%;
      margin-top: 15%
    }
    
    
    .home-icons-content {
      margin: 5% 10% 5% 10%;
      text-align: center;
    }

    .home-cat-flex {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      text-align: center;
      justify-content: center;
    }

    .home-cat-font {
      color: #606060;
      font-family: Roboto Condensed;
      font-size: 14px;
      margin: auto;
      padding: 10%;
      flex-wrap: wrap;
      display: inline-block;
      page-break-before: always;
    }

    .home-cat-aspect-ratio {
      flex: 1;
      max-width: 50%;
      min-width: 50%;
      margin: auto;
    }

    .home-cat-img {
      // object-fit: cover;
      width: 100%;
      margin: auto;
      display: block;
      // max-height: 50px;
      // max-width: 50px;
    }

    .home-intro {
      height: 100%;
      display: flex;
      align-items: center;
      padding: 3% 5% 3% 5%;
      margin-top: 3%;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8c8c8c+0,8c8c8c+100&0+0,0.65+100 */
      background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
    }

    .home-perks-description-one {
      background-color: #9cd9e1;
      font-size: 35px;
      color: "#f7f6f6";
      text-align: center;
      font-weight: 300;
      padding: 4em 2em;
    }

    .home-perks-description-two {
      background-color: #8ac8d1;
      font-size: 35px;
      color: "#f7f6f6";
      text-align: center;
      font-weight: 300;
      padding: 4em 2em;
    }

    .home-perks-description-three {
      background-color: #72bec9;
      font-size: 35px;
      color: "#f7f6f6";
      text-align: center;
      font-weight: 300;
      padding: 4em 2em;
    }

    .home-organizer-picture {
      height: 25%;
      background-image: url("../images/homepage/organize.jpg");
      padding: 150px;
    }

    .home-organizer-hook {
      font-size: 50px;
      font-weight: 700;
    }

    .home-organizer-header {
      font-size: 30px;
      padding: 5% 20% 5% 20%;
      font-weight: 100;
      text-align: center;
    }

    .home-organizer-info {
      font-size: 18px;
      padding: 0px 200px 50px 200px;
    }

    .home-organizer-graphs {
      height: 100%;
    }

    .home-signup {
      height: 40%;
      background-color: #e99491;
    }

    .home-developers {
      height: 20%;
      padding: 10px 80px 10px 80px;
    }

    .home-developers-header {
      font-size: 50px;
      font-weight: 100;
      margin: 0 auto;
      display: table;
    }

    .home-developers-col {
      margin: 75px 0px 0px 0px;
      font-size: 14px;
    }

    .home-footer {
      height: 8%;
    }

    .home-developers-pic {
      width: 80%;
      display: table;
      margin: 0 auto;
      padding: 4px;
      border: 5px solid white;
    }

    .home-developers-subtitle1 {
      font-size: 14px;
      text-transform: uppercase;
    }

    .home-developers-subtitle2 {
      font-size: 11px;
      text-transform: uppercase;
      font-style: italic;
    }

    .home-developers-subtitle3 {
      font-size: 10px;
    }

    .home-developers-subtitle3 a{
      font-size: 10px;
      color: white;
      border-bottom: 1px solid white;
      border-spacing: 5px;
    }

    .home-feedback {
      background-color: #d6d6d6;
      padding: 5% 15% 5% 15%;
    }

    .home-feedback-send-msg {
      font-size: 20px;
      font-weight: 100;
      background-color: #00bcd4;
      color: white;
      border: 0px;
      border-radius: 10px;
      padding: 5px 10px 5px 10px;
    }

    .pic-sizes {
      max-height: 100%;
      max-width: 100%;
    }

    .background-cover-center {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    #bootstrap-override-jumbotron {
      margin-bottom: 0;
      height: "100%" !important;
      padding: 8em 6em;
    }

    #bootstrap-override-pic {
      margin: 0;
      box-sizing: initial;
      padding: 0;
    }

    #bootstrap-override-desc {
      padding: 2em 1em;
    }

    .header {
      margin: 10px;
      margin-top: 50px;
      margin-top: 50px;
      text-align: center;
      padding: 0px 100px 30px 100px;
    }

    #intro-text {
      font-size: 50px;
      font-weight: 300;
      color: "white";
    }

    #link-text {
      color: "#ff5d55";
      font-size: 16px;
    }

    #intro-text-per {
      font-size: 20px;
      font-weight: 100;
      color: #FFFFFF;
    }

    .top-banner {
      background-color: #f7f6f6;
      height: 15%;
      padding-left: 20%;
      padding-right: 20%;
    }

    .top-banner-login {
      height: 10%;
      padding-left: 20%;
      padding-right: 20%;
    }

    .top-banner-each {
      padding-top: 5%;
      padding-bottom: 5%;
      text-align: center;
    }
}

.home-intro-content {
  margin: auto;
}

// =================================== [ SEARCH BAR ]

.results-page-search {
  border: 1px #90caf9;
  font-size: 15px;
  box-shadow: 0px;
  width: 80%;
  padding: "20px";
  opacity: 0.5;
  background-color: #d6f0f3;
  display: inline;
  float: left;
}

// =================================== [ HEADER ]

// laptop
@media screen 
  // and (min-device-width: 1200px) 
  // and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .header-float {
      padding-top: 2%;
      padding-left: 10%;
      padding-right: 15px;
      padding-bottom: 2%;
      position: absolute;
      top: 1%;
      z-index: 5;
    }

    .header-btn-1 {
      font-weight: 700;
      font-size: 16px;
      z-index: 2;
      margin-left: 20px;
      margin-right: 20px;
      padding: 3px 6px 3px 6px;
      text-transform: uppercase;
      letter-spacing: 3px;
    }

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */
@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 900px) { 
    .header-float {
      padding-top: 2%;
      padding-left: 2%;
      padding-right: 2%;
      padding-bottom: 5%;
      position: relative;
      z-index: 5;
    }
    
    .header-btn-1 {
      font-weight: 700;
      font-size: 20px;
      z-index: 2;
      margin-left: 1%;
      margin-right: 1%;
      margin-top: 10%;
      padding: 3px 6px 3px 6px;
      text-transform: uppercase;
      letter-spacing: 3px;
      color: white;
    }
    
    .header {
      margin: 10px;
      margin-top: 50px;
      margin-top: 50px;
      text-align: center;
      padding: 0px 100px 30px 100px;
    }

    .mobile-header {
      background-color: #c43c38;
      padding: 5%;
      height: 100%;
    }

    .mobile-header-logo {
      max-width: 80%;
    }
    
    .header-close-button {
      text-align: right;
    }
    
    .header-flex {
      display: flex;
      align-items: center;
      margin-bottom: 20%;
    }
    
    .header-sticky {
      position: fixed;
      height: 8%;
      background-color: #e16e69;
      width: 100%;
      z-index: 100;
      top: 0;
    }
    
    .header-sticky-logo {
      text-align: center;
    }
    
    a.header-btn-1 {
      color: white !important;
    }
    
    .header-sticky-search {
      margin: auto;
      margin-bottom: 10%;
    }

}


.header-find {
  font-weight: 300;
  font-size: 1.2em;
  z-index: 2;
}

.header-main a {
  color: white;
  z-index: 2;
}

.header-safe a {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  border-radius: 5px;
}

.header-signup a {
  color: #ffffff;
  z-index: 2;
}

.header-login {
  text-align: center;
  padding-top: 5%;
}

.header-dashboard {
  background-color: #1e424d;
}

.header-clubprofile {
  margin-top: 50pt;
  margin-bottom: 30pt;
}

.header-page-search {
  border: none;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: inline !important;
  width: 100%;
  padding: 5px 10px 5px 10px;
  margin-right: 20px;
  font-size: 14px;
}



// =================================== [ CLUB PROFILE ]

//laptop
@media screen 
  // and (min-device-width: 1200px) 
  // and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .clubprofile-header-module {
      background-color: rgba(0,0,0,0.5);
      width: 100%;
      padding: 20px 50px 40px 50px;
      margin-top: 10%;
    }
    
    .clubprofile-header-clubname {
      font-size: 25pt;
      font-weight: 700;
      color: white;
    }
    
    .clubprofile-header-description {
      width: 100%;
      padding: 20px 150px 20px 0px;
    }
    
    .clubprofile-info-body {
      left: 15%;
      padding: 25px 100px 25px 100px;
      margin: auto;
      margin-top: 5%;
      background-color: #ffffff;
      width: 70%;
      font-size: 13px;
    }
    
    .clubprofile-header-icon {
      text-align: right;
    }
    
    .clubprofile-header-logo {
      max-width: 150px;
      margin-right: 20px;
      border: 5px solid white;
    }
    
    .clubprofile-back-button {
      font-family: Roboto Condensed;
      background-color: rgba(255,255,255,0.3);
      padding: 10px;
      border-radius: 10px;
    }
    
    h3.clubprofilesection {
      color: #00bcd4;
      font-weight: bold;
    }
}

// iphone 6+,7+,8+
@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 900px) {
    .clubprofile-header-module {
      background-color: rgba(0,0,0,0.5);
      width: 100%;
      padding: 20px 50px 40px 50px;
      margin-top: 3%;
    }
    
    .clubprofile-header-clubname {
      font-size: 20pt;
      font-weight: 700;
      color: white;
    }
    
    .clubprofile-header-description {
      width: 100%;
      padding: 0;
    }
    
    .clubprofile-info-body {
      left: 15%;
      padding: 5%;
      margin: auto;
      margin-top: 5%;
      background-color: #ffffff;
      width: 80%;
      font-size: 13px;
    }
    
    .clubprofile-header-icon {
      
    }
    
    .clubprofile-header-logo {
      max-width: 100px;
      margin-right: 20px;
      border: 5px solid white;
    }
    
    .clubprofile-back-button {
      font-family: Roboto Condensed;
      background-color: rgba(255,255,255,0.3);
      padding: 7px;
      border-radius: 10px;
      margin-left: -10%;
    }

    h3.clubprofilesection {
      color: #00bcd4;
      font-size: 40px;
      font-weight: bold;
    }
    
    p.clubprofilesection {
      color: #000000;
      margin: 0 0 0 0;
      font-weight: 300;
      font-size: 16px;
    }

}

.clubprofile-info-background {
  background-size: contain;
  opacity: 1;
  width: 105%;
  height: 105%;
  position: fixed;
  z-index: -10000;
  filter: blur(20px);
  left: -25px;
  top: -25px;
}

.clubprofile-info-section {
  margin: 75px 0px 75px 0px;
  font-size: 14px;
}

.clubprofile-table-header {
  font-weight: bold;
}

hr.clubprofile-section {
  border-style: solid;
}

a.clubprofile-header {
  color: white;
  text-decoration: underline;
}

// is this even used?
.advanced-search {
  font-size: 20px;
  background: transparent;
  border: none;
  border-bottom: 5px solid #72bec9;
  width: 90%;
}

// =================================== [ EVENTS ]
@media screen 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .events-header-text {
      font-weight: 700;
      font-size: 30px;
      z-index: 2;
      margin-left: 20px;
      margin-right: 20px;
      padding: 3px 6px 3px 6px;
      text-transform: uppercase;
      letter-spacing: 3px;
      color: white;
    }
    
    .events-subtitle-text {
      font-weight: 700;
      font-size: 20px;
      z-index: 2;
      margin-left: 20px;
      margin-right: 20px;
      padding: 3px 6px 3px 6px;
      text-transform: uppercase;
      letter-spacing: 3px;
      color: white;
    }
    
    .events-header {
      display: flex;
      align-items: center;
      margin: 1%;
      margin-top: 7%;
    }
    
    .events-bg {
      background-image: url("../images/search/default-cover.jpg");
      background-size: 100% 100%;
      position:absolute;
    }
    
    .events-single-event {
      width: 25%;
      margin: 30px;
      margin-top: 50px;
      -webkit-box-shadow: 11px 18px 54px 2px rgba(0,0,0,0.5);
      -moz-box-shadow: 11px 18px 54px 2px rgba(0,0,0,0.5);
      box-shadow: 11px 18px 54px 2px rgba(0,0,0,0.5);
    }
  }

@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 900px) {
    .events-header-text {
      font-weight: 700;
      font-size: 20px;
      z-index: 2;
      margin-left: 1px;
      margin-right: 1px;
      padding: 3px 6px 3px 6px;
      text-transform: uppercase;
      letter-spacing: 3px;
      color: white;
    }
    
    .events-header {
      display: flex;
      align-items: center;
      margin: 1%;
    }
    
    .events-subtitle-text {
      font-weight: 700;
      font-size: 15px;
      z-index: 2;
      margin-left: 1px;
      margin-right: 1px;
      padding: 3px 6px 3px 6px;
      text-transform: uppercase;
      letter-spacing: 3px;
      color: white;
    }
    
    .events-bg {
      background-image: url("../images/search/default-cover.jpg");
      background-size: 100% 100%;
      padding-top: 15%;
    }
    
    .events-single-event {
      width: 45%;
      background-color: white;
      margin: 2%;
      margin-top: 50px;
      -webkit-box-shadow: 11px 18px 54px 2px rgba(0,0,0,0.5);
      -moz-box-shadow: 11px 18px 54px 2px rgba(0,0,0,0.5);
      box-shadow: 11px 18px 54px 2px rgba(0,0,0,0.5);
    }
  }



.events-display {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: center;
  align-items:flex-start;
  margin: auto;
}

hr.events-hr {
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  border: 1px solid rgba(255,255,255,0.5);
  width: 50%;
}



.events-single-event-header {
  background-color: #fec63d;
  padding: 5%;
  font-family: Roboto Condensed;
  font-size: 14px;
}

.events-single-event-body {
  background-color: white;
  padding: 5%;
}

.events-date {
  text-align: center !important;
  color: #7a7a7a;
  line-height: 30px;
}

.events-date-1 {
  font-size: 28px;
}

.events-date-2 {
  font-size: 36px;
}

.events-event-name {
  font-family: Roboto Condensed;
  font-size: 20px;
}


// =================================== [ SEARCH RESULTS ]
@media screen 
  // and (min-device-width: 1200px) 
  // and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .is-screen {
      display: inline;
    }
    
    .searchresults-club-result {
      margin: 20px;
    }
    
    .searchresults-results {
      background-color: white;
      padding: 2%;
      margin: "1% 15% 2% 0%";
    }
    
    .searchresults-bg {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1a7ed0+0,1a7ed0+10&0.65+0,0+11 */
      background: -moz-linear-gradient(top,  rgba(26,126,208,0.65) 0%, rgba(26,126,208,0.06) 10%, rgba(26,126,208,0) 11%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  rgba(26,126,208,0.65) 0%,rgba(26,126,208,0.06) 10%,rgba(26,126,208,0) 11%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  rgba(26,126,208,0.65) 0%,rgba(26,126,208,0.06) 10%,rgba(26,126,208,0) 11%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a61a7ed0', endColorstr='#001a7ed0',GradientType=0 ); /* IE6-9 */
      position: absolute;
      width:100%;
      height: 100%;
    
    .searchresults-content {
      margin-top: 10%;
    }
    
    }
}

// iphone 6+,7+,8+
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .is-screen {
      display: none;
    }
    
    .hamburger {
      z-index: 5;
      margin: auto;
      position: static;
      background-color: rgba(26,126,208,1);
      height: 100%;
      padding: 5% 10% 30% 10%;
      transition: 1s;
      top:0;  
    }
    
    .searchresults-mobile-category {
      right: 0;
    }
    
    .searchresults-club-result {
      margin: 1%;
      background-color: white;
      box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
      padding: 5%;
    }
    
    .searchresults-results {
      background-color: transparent;
    }
    
    .searchresults-bg {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1a7ed0+0,1a7ed0+10&0.65+0,0+11 */
      background: -moz-linear-gradient(top,  rgba(225,110,105,0.65) 0%, rgba(225,110,105,0.06) 10%, rgba(225,110,105,0) 11%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  rgba(225,110,105,0.65) 0%,rgba(225,110,105,0.06) 10%,rgba(225,110,105,0) 11%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  rgba(225,110,105,0.65) 0%,rgba(225,110,105,0.06) 10%,rgba(225,110,105,0) 11%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a61a7ed0', endColorstr='#001a7ed0',GradientType=0 ); /* IE6-9 */
      padding-top: 10%;
    }
}

.searchresults-categories-menu {
  width: 50px;
  height: 50px;
}

.searchresults-loading-text {
  font-size: 20px;
  margin-bottom: 30px;
}

.searchresults-loading-filter {
  filter: blur(10px);
  transition: 1s;
}

.searchresults-filter-header {
  font-size: 20px;
  font-weight: 100;
}

.searchresults-categories {
  background-color: #72bec9;
  color: #ffffff;
}

.searchresults-cat-margin {
  margin: 10%;
}

.searchresults-cat-gear {
  position: fixed;
  bottom: 3%;
  right: 3%;
  display: block;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  border: 0px;
  background-color: #444444;
  color: white;
  filter:brightness(0.6);
  transition: 0.5s;
  z-index: 10;
}

button.searchresults-cat-gear:hover {
  filter:brightness(1);
  transition: 0.5s;
}

.searchresults-categories-label {
  font-size: 14px;
}

.searchresults-vibes {
  background-color: #e16e69 ;
  color: #ffffff;
}

.searchresults-vibes-btn {
  color: #ffffff;
  background-color: #ff3823;
  font-size: 14px;
  border-radius: 10px;
  padding: 7px 13px 7px 13px;
  margin: 0px 5px 5px 5px;
  border: none;
  cursor: pointer;
}

.searchresults-vibes-btn-active {
  border: 3px solid #ffd783;
}

.searchresults-vibes-btn-inactive {
  border: none;
}

.searchresults-clubname a{
  font-size: 20px;
  font-weight: 700;
  color: #ff3823;
  text-decoration: underline;
}

.searchresults-right-align {
  text-align: left;
}

.searchresults-desc-text {
  color: white;
  font-size: 13px;
  line-height: 1.5;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 10px;
  border: 3px solid rgba(256, 256, 256, 0.5);
  margin: 5px;
}



.searchresults-displaying-results-text {
  font-weight: 100;
  font-size: 15px;
}

.searchresults-keyword {
  color: #00bcd4;
  font-weight: 400;
}

.searchresults-filter-module {
  width: 60%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  background-color: white;
}

.searchresults-cat-header {
  color: #FFFFFF;
  font-size: 14px;
  border: 0px;
  box-sizing: border-box;
  display: block;
  text-align: center;
  width: 100%;
  padding: 10px;
  margin: 10px 0px -1px 0px;
  border-radius: 5px;
  cursor: pointer;
}

button.searchresults-cat-header:hover {
  background: linear-gradient(rgba(10, 0, 0, 0.15), rgba(10, 0, 0, 0.15));
  transition: 0.2s;
}

.searchresults-cat-details {
  color: #444444;
  font-family: Roboto Condensed;
  font-size: 12px;
  display: block;
  width: 100%;
  border: 0px;
  box-sizing: border-box;
  text-align: left;
  padding: 7px;
  height: 35px;
  margin-bottom: -1px;
  cursor: pointer;
}

.searchresults-cat-details-subsub {
  color: #444444;
  font-family: Roboto Condensed;
  font-style: italic;
  font-size: 12px;
  display: block;
  width: 100%;
  border: 0px;
  box-sizing: border-box;
  text-align: left;
  padding: 7px;
  height: 35px;
}

.searchresults-cat-details-selected {
  background: linear-gradient(rgba(255, 215, 131, 0.7), rgba(255, 215, 131, 0.7));
}

.searchresults-cat-header-selected {
  // background: linear-gradient(rgba(255, 215, 131, 0.3), rgba(255, 215, 131, 0.3));
  border: 5px solid rgba(0,0,0,0.2);
  border-sizing: border-box;
}

button.searchresults-cat-details:hover {
  background: linear-gradient(rgba(10, 0, 0, 0.15), rgba(10, 0, 0, 0.15));
  transition: 0.2s;
}

// =================================== [ CLUB CREATION ]

.clubcreation-header {
  top: 0;
  position: fixed;
  width: 100%;
  height: 25%;
  background-color: #1e424d;
  z-index: 1;
  opacity: 0.9;
}

.clubcreation-header-content {
  text-align: center;
  color: #ffffff;
  width: 80%;
  margin-left: 10%;
  z-index: 2;
  margin-top: 8%;
}

.clubcreation-header-right {
  margin: 5px 0px 5px 0px;
  z-index: 2;
}

.clubcreation-header-title {
  font-size: 40px;
  font-weight: 300;
  z-index: 2;
}

.clubcreation-sub {
  font-size: 10px;
  z-index: 2;
  margin-bottom: 2px;
}

.clubcreation-error {
  color: #ff3823;
}

.clubcreation-process-body {
  margin-top: 15%;
  left: 15%;
  width: 70%;
  position: relative;
  padding: 50px 100px 50px 100px;
}

.clubcreation-process-section {
  background-color: #ffffff;
  padding: 30px;
}

.clubcreation-question {
  color: #00bcd4;
  font-size: 14px;
  font-weight: 700;
  display: block;
}

.clubcreation-input {
  background-color: none;
  width: 100%;
  font-size: 30px;
  font-weight: 300;
  border: none;
  border-bottom: 5px solid #00bcd4;
}

.clubcreation-small-input {
  background-color: none;
  width: 100%;
  font-size: 16px;
  font-weight: 300;
  border: none;
  border-bottom: 3px solid #00bcd4;
}

.clubcreation-divided-section {
  padding: 20px 0px 20px 0px;
}

.clubcreation-date-btn {
  width: 100%;
  font-size: 12px;
  height: 14px;
  margin: 0px 2px 0px 2px;
}

.clubcreation-continue-btn-single {
  width: 50%;
  margin: 0% 25% 0% 25%;
  box-shadow: 5px 5px 15px #aaaaaa;
  background-color: #72bec9;
  border: none;
  padding: 15px 0px 15px 0px;
  vertical-align: middle;
}

.clubcreation-continue-btn {
  width: 50%;
  margin: 0% 0% 5% 0%;
  box-shadow: 5px 5px 15px #aaaaaa;
  background-color: #72bec9;
  border: none;
  padding: 15px 0px 15px 0px;
  vertical-align: middle;
}

.clubcreation-back-btn {
  width: 25%;
  margin: 0% 1% 0% 25%;
  box-shadow: 5px 5px 15px #aaaaaa;
  background-color: #72bec9;
  border: none;
  padding: 15px 0px 15px 0px;
  vertical-align: middle;
}

.clubcreation-nav-btns {
  display: flex;
  width: 100%;
  margin: auto;
}

.clubcreation-time-slots {
  margin: 10px 0px 10px 0px;
}

.clubcreation-day-slot {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clubcreation-time-slots:hover {
  transition: 0.5s;
  opacity: 1;
}

.clubcreation-active-slot {
  transition: 0.5s;
  opacity: 1;
}

.clubcreation-inactive-slot {
  transition: 0.5s;
  opacity: 0.3;
}

.clubcreation-upload {
  text-align: center;
  margin: 10px;
  background-color: #eeeeee;
  padding: 30px;
}

.clubcreation-upload-text {
  font-size: 20px;
  margin: 100px;
  color: #555555;
}

.clubcreation-upload-btn {
  font-size: 14px;
  width: 70%;
  margin: 5px;
}
// =================================== [ JOIN US ]

.joinus-signUpButton {
  margin-bottom: 25px;
  padding: 15px 0px 15px 0px;
  width: 100%;
  display: block;
  color: white;
  font-size: 1.2em;
  box-shadow: 5px 5px 20px gray;
}

#joinus-facebook {
  background-color: #037aff;
}

#joinus-google {
  background-color: #eb4a45;
}

#joinus-uci {
  background-color: #2196f3;
}

.joinus {
  background-image: url("../images/joinus/treecamp.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
}

// =================================== [ DASHBOARD ]

.dashboard-box {
  background-color: #FFFFFF;
  margin: 10px;
}

.dashboard-centered {
  text-align :center;
}

.dashboard-margins {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
}

.dashboard-action {
  text-align: center;
  font-size: 12px;
  color: #FFFFFF;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 10px;
}

.action-1 {
  background-color: #008a9b;
}

.action-2 {
  background-color: #72bec9;
}

.action-3 {
  background-color: #00bcd4;
}

.noclubs {
  text-align:center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 40%;
}

.dash-tabs {
  position: absolute;
  -webkit-transform: rotate(90deg);
  background-color: #eeeeee;
  padding: 20px 50px 20px 50px;
  font-weight: 900;
  float: left;
}

@media all and (min-width: 1000px) {
  .dash-tabs {
    width: 250px;
    height: 200px;
    left: -10%;
  }
}

@mixin single-dash-tab($number) {
  .single-dash-tab#{$number - 1} {
    top: ( $number - 1 ) * 270px  + 150px;
  }
}

@include single-dash-tab(1);
@include single-dash-tab(2);
@include single-dash-tab(3);
@include single-dash-tab(4);
@include single-dash-tab(5);

.dashboard-cover-crop {
  max-height: 200px;
  overflow: hidden;
}

.dahsboard-cover-crop img {
  max-width: initial;
  filter: blur(10px);


}

// =================================== [ ADVANCED SEARCH ]

.inner-box-margin {
  margin: 5px;
}

.explore {
  font-size: 50px;
  font-weight: 100;
}

.explore-text {
  font-size: 20px;
  font-weight: 100;
}

.explore-subheader {
  font-size: 25px;
  margin-bottom: 5px;
  font-weight: 100;
}

// =================================== [ FAQ ]

// laptop
@media screen 
  // and (min-device-width: 1200px) 
  // and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) {

  }



@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 900px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .faq-body {
      padding: 50px;
      margin: 50px 200px 50px 200px;
    }
  }

// =================================== [ FEEDBACK ]
@media screen 
  // and (min-device-width: 1200px) 
  // and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .feedback-body {
      padding: 50px;
      text-align: center;
      margin: 100px;
      margin-bottom: 200px;
    }

    .feedback {
      border-radius: 5px;
      border: 1px solid #444444;
      padding: 10px;
      margin: 10px;
      background-color: white;
      width: 100%;
    }

    .feedback-btn {
      border-radius: 5px;
      border: none;
      padding: 10px;
      background-color: #00bcd4;
      color: white;
      width: 50%;
    }
    
    .feedback-icon {
      width: 20%;
      margin: 5%;
    }
    
    .feedback-form {
      margin: "1% 20% 1% 20%";
    }
}

@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 900px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .feedback-body {
      padding: 50px;
      text-align: center;
      margin: 3%;
    }

    .feedback {
      border-radius: 5px;
      border: 1px solid #444444;
      padding: 10px;
      margin: 10px;
      background-color: white;
      width: 100%;
    }

    .feedback-btn {
      border-radius: 5px;
      border: none;
      padding: 10px;
      background-color: #00bcd4;
      color: white;
      width: 50%;
    }
    
    .feedback-icon {
      width: 50%;
      margin: 10%;
    }
    
    .feedback-form {
      width: 100%;
    }
}


// =================================== [ FOOTER ]

.footer {
  bottom: 0px;
  background-color: #e6e6e6;
  font-size: 14px;
  font-weight: 100;
  text-align: center;
  margin-top: 15%;
  padding: 1% 15% 1% 15%;
  height: 150px;
  width: 100%;
  line-height: 40px;
}

.footer-left {
  float: left;
}

.footer-right {
  float: right;
  text-align: right;
}

.wrapper {
  position: relative;
  min-height: 100%;
}
